extends layout

block content
  h1= title

  p Welcome to the Marine's #{title} website
  img(src="/images/winner.jpeg", alt="you're a winner")
  p 
  a(href='/coucou-pug') Click here to see coucou-pug !